@use "sass:color";
@use "sass:math";

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	font-size: 18px;
	font-family: Roboto, Arial, sans-serif;
}

body {
	background-image: url(https://bliepp.github.io/roman_calendar_converter/img/amphitheatre.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

a {
	color: #000000;
	text-decoration: none;

	&:hover, &:active, &:focus {text-decoration: underline;}
}

@mixin fullwidth() {
	width: calc(100vw - 3rem);
	max-width: 1250px;
	margin: 0 auto;
}

@mixin toon-shadow($color, $intensity: 4%, $invert: false, $additional: null) {
	background-color: $color;

	$invertFactor: 1;
	@if $invert {
		$invertFactor: -1;
	}

	@if $additional {
		box-shadow: $invertFactor*-0.2rem $invertFactor*-0.3rem color.scale($color, $lightness: -$intensity) inset, $additional;
	} @else {
		box-shadow: $invertFactor*-0.2rem $invertFactor*-0.3rem color.scale($color, $lightness: -$intensity) inset;
	}
}

@mixin form-element($color, $intensity: 4%, $invert: false) {
	@include toon-shadow($color, $intensity: $intensity, $invert: $invert);

	border: 0;
	outline: 0;
	padding: 1rem;
	border-radius: 0.3rem;
}

@mixin roman-text($color: null, $engraved: false) {
	font-family: Cinzel, "Times New Roman", serif;
	font-weight: 400;
	text-transform: uppercase;

	@if $color {
		color: $color;
	}

	@if $engraved {
		text-shadow: 0 1px 0 color.scale($color, $lightness: 80%), 0 -1px 0 color.scale($color, $lightness: -80%);
	}
}

button {
	@include form-element(#00B3AA, $intensity: 10%, $invert: false);
	&:active {
		@include form-element(#00B3AA, $intensity: 10%, $invert: true)
	}

	color: color.scale(#00B3AA, $lightness: -60%);
}

input {
	@include form-element(#FDFDFD, $invert: true);
	color: rgba(0, 0, 0, 0.4);

	&:disabled {
		@include form-element(#d86969, $invert: true)
	}
}

noscript {
	@include fullwidth();
	@include toon-shadow(#CE0000, $intensity: 10%);

	display: block;
	padding: 1.5rem;
	margin-top: 1rem;
	border-radius: 0.3rem;

	text-align: center;
	font-weight: 700;
	font-size: 24px;
	color: white;
}

form {
	@include fullwidth();
	@include toon-shadow(#DADADA, $additional: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.7));

	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 1.5rem;

	margin-top: 3rem;

	border-radius: 0.3rem;
	text-align: center;

	&, & * {
		font-size: 24px;
	}

	h1 {
		@include roman-text(#A3A3A3, $engraved: true);
		font-size: 3em;
		flex-basis: 100%;
	}

	input {
		flex-grow: 1;
		flex-shrink: 0;
		text-align: center;

		&:read-only { // output field
			@include roman-text();
			text-transform: uppercase;
		}
	}

	button {
		flex-basis: 100%;
		transition: box-shadow 100ms;
	}
}

footer {
	@include fullwidth();

	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;

	padding: 0 1.5rem;

	display: flex;
	justify-content: space-between;
	gap: 1rem;

	& > * {flex: 1 1 0px;}

	:first-child {
		text-align: start;
	}

	:last-child {
		text-align: end;
	}
}
